<header>
  <nav>
    {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'contact'}}Contact{{/link-to}}
  </nav>
</header>

<div id="wrapper">
  {{outlet}}
</div>

<footer>

</footer>
