<div id="post-page">
  <h2 class="post-title">{{model.title}} by {{model.artist}}</h2>

  {{post-detail post=model destroyPost="destroyPost" destroyComment="destroyComment" saveComment="saveComment"}}

  {{new-comment saveComment="saveComment" post=model}}
</div>
